.container {
    font-family: 'News Cycle', sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.aqi-container {
    border-radius: 10px;
    float: left;
    font-family: 'News Cycle', sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 180px;
}

.time {
    color: lightsteelblue;
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    margin: 0px;
    margin-left: -60px;
    text-align: center;
}

.aqi-label {
    color: darkslategray;
}

.aqi {
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: 'News Cycle', sans-serif;
    margin: -40px;
}

.pm-label {
    color: darkslategray;
    font-family: 'News Cycle', sans-serif;
    font-style: italic;
    margin-top: 15px;
}

h2 {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
}

.chart {
    color: white;
    display: table;
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    max-width: 600px;
}
